anyio==3.6.2
arcade==2.6.17
asgiref==3.6.0
astroid==2.15.0
attrs==22.2.0
autopep8==2.0.2
cffi==1.15.1
click==8.1.3
colorama==0.4.6
contourpy==1.0.7
cycler==0.11.0
dill==0.3.6
fastapi==0.94.1
fonttools==4.39.0
freetype-py==2.3.0
h11==0.14.0
httptools==0.5.0
idna==3.4
imageio==2.26.0
isort==5.12.0
itsdangerous==2.1.2
Jinja2==3.1.2
kiwisolver==1.4.4
lazy-object-proxy==1.9.0
MarkupSafe==2.1.2
mccabe==0.7.0
networkx==3.0
numpy==1.24.2
packaging==23.0
Pillow==9.3.0
pip-autoremove==0.10.0
platformdirs==3.1.1
pycodestyle==2.10.0
pycparser==2.21
pydantic==1.10.6
pyglet==2.0.dev23
pylint==2.17.0
pymunk==6.4.0
PyOpenGL==3.1.0
pyparsing==3.0.9
pyrender==0.1.45
python-dateutil==2.8.2
python-dotenv==1.0.0
pytiled-parser==2.2.0
PyYAML==6.0
scipy==1.10.1
six==1.16.0
sniffio==1.3.0
sqlparse==0.4.3
starlette==0.26.1
tomlkit==0.11.6
trimesh==3.20.2
typing_extensions==4.5.0
tzdata==2022.7
uvicorn==0.21.0
watchfiles==0.18.1
websockets==10.4
Werkzeug==2.2.3
wrapt==1.15.0
