:root {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
}

#img-preview {
  border-radius: 8px;
  opacity: 0.2;
}

button {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 512px;
  border-radius: 8px;
  height: 4rem;
  background-color: #e7bf0e;
  background: radial-gradient();
  color: #1f1f1f;
  font-size: 16pt;

  border: 0px;

  cursor: pointer;
  transition: .4s ease-out;
}

button:active {
  transform: translate(0px, 4px) scale(0.99);
  transition: .1s ease-out;
}

#loading {
  width: 64px;
  height: 64px;

  opacity: 0;
  animation: rotation 2s infinite cubic-bezier(0.4, 0.0, 0.3, 1);
  transition: .4s ease-out;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}