:root {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--c-dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --c-dark:     #1E212D;
  --c-semidark: #2C323F;
  --c-mid:      #5C6B80;
  --c-light:    #EFEFEF;
  --c-white:    #FFFFFF;
  --c-attention:#e44f22;
  --c-attention_light:#f18b37;
}

body {
  margin: 0;
}

#app {
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: flex-start;
  gap: 2rem;
  max-height: 100vh;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  width: fit-content;
}

#results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 0px;
  max-width: 40vw;

  transition: 1s ease-out;
}

#density-map {
  background-color: var(--c-semidark);
  width: 100%;
  image-rendering: pixelated;
  transform: scaleY(-1);

}

.navbar {
  margin-top: 2rem;
  margin-left: 2rem;
  position: fixed;
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  z-index: 1;
}

.navbar button{
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  margin: 0;
  padding: 0.8rem;
  border-radius: 0;

  font-size: 12pt;
  cursor: pointer;
  text-align: left;
  background-color: var(--c-semidark);
  color: var(--c-light);
  border: 0px solid var(--c-dark);
  
  height: fit-content;
  width: 100%;
  max-width: 8rem;

  transition: 0.2s;
}

.navbar button:hover{
  background-color: var(--c-mid);
  border-bottom-color: var(--c-mid);
  transition: 0.5s;
}

.navbar button:active{
  background-color: var(--c-attention);
  border-bottom-color: var(--c-attention);
  transform: none;
  transition: 0.0s;
}

.navbar button:first-of-type{
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.navbar button:last-of-type{
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.navbar button:not(:last-of-type){
  /* border-bottom: 2px solid #494a4d; */
}
.navbar button.active-link {
  margin-left: 1em;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}
.navbar button:has( + button.active-link) {
  border-bottom-left-radius: 24px;
  border-bottom: 8px solid var(--c-dark);
}
.navbar button.active-link + button {
  border-top-left-radius: 24px;
  border-top: 8px solid var(--c-dark);
}
.navbar button.active-link span {
  width: 4px;
  min-width: 4px;
  height: 3em;
  background-color: var(--c-attention);
  opacity: 1;
  transition: .2s ease-out;
}

.navbar button span {
  display:block;
  margin-right: 8px;
  padding: 0px;
  width: 0.5em;
  min-width: .5em;
  height: 0px;
  background-color: var(--c-mid);
  opacity: 0;
  border-radius: 999px;
  transition: .2s ease-out;
}

#img-preview {
  border-radius: 8px;
  opacity: 0.2;
  width: 100%;
  min-height: 512px;

  image-rendering: pixelated;
}

div:has(> #img-preview) {
  border: 2px var(--c-semidark) solid;
  border-radius: 10px;
  padding: 0px;
  margin: 0px;
  width: 100%;
  max-height: 512px;
  overflow-y: hidden;
}

.progress-bar {
  position: absolute;
  border-radius: 8px;
  width: 0px;
  height: 512px;
  opacity: 0.0;
  background-color: var(--c-mid);

  transition: 0.2s ease-out;
}

button {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 512px;
  border-radius: 8px;
  height: 4rem;
  background-color: var(--c-mid);
  background: radial-gradient();
  color: var(--c-dark);
  font-size: 16pt;

  border: 0px;

  cursor: pointer;
  transition: .4s ease-out;
}

button:active {
  transform: translate(0px, 4px) scale(0.99);
  background-color: var(--c-attention);
  transition: .1s ease-out;
}

input {
  margin-top: 2rem;
  box-sizing: border-box;
  width: 100%;
  padding: 1rem;
  font-size: 16pt;
  border: 0px;

  background-color: var(--c-semidark);
  color: var(--c-light);
  border-radius: 8px;
  transition: 0.2s ease-out;
}

input:focus {
  background-color: var(--c-mid);
  outline: none;

  transition: 0.1s ease-out;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}